@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
       url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"),
       url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"),
       url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
}


:root{
  --base-grey:#EEEEEE;
  --base-red:#FB565A;
  --base-green:#00CA74;
  --base-yellow:#EFC849;
  --base-black:#000000;
  --base-white:#FFFFFF;
  --base-grey-icon:#E1E1E1;
  --hover-red:#E74246;
  --activ-red:#D7373B;
  --hover-green:#00BC6C;
  --activ-green:#00AA62;
  --hover-yellow:#EAB534;
  --activ-yellow:#E5A722;
  --paragraf-text:#283136
}

body{
  min-width: 1160px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: var(--base-white);

}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/* кнопки */

.button{
  background-color: var(--base-red);
  color: var(--base-white);
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 3px;
}

.button:hover{
  background-color: var(--hover-red);
}

.button:active{
  background-color: var(--activ-red);
  color: rgba(255, 255, 255, 0.3);
}

.green-button{
  background-color: var(--base-green);
}

.green-button:hover{
  background-color: var(--hover-green);
}

.green-button:active{
  background-color: var(--activ-green);
  color: rgba(255, 255, 255, 0.3);
}

.yellow-button{
  background-color: var(--base-yellow);
}

.yellow-button:hover{
  background-color: var(--hover-yellow);
}

.yellow-button:active{
  background-color: var(--activ-yellow);
  color: rgba(255, 255, 255, 0.3);
}


/* шапка сайта */

.header{
  background-color: var(--base-grey);
}

.navigation{
  width: 1160px;
  margin: 0 auto;
  font-weight: 500;
  line-height: 30px;
  color: var(--base-black);
}

.site-navigation{
  list-style: none;

}

.navigation a:visited{
  color: var(--base-black);
}

.navigation a:hover{
  color: var(--base-red);
}

.navigation a:active{
  color: var(--base-black);
  opacity:0.3;
}

.logo:hover{
  opacity: 0.7;
}
.logo:active:{
  opacity: 0.3;
}

/* slider */

.slider-section{
  background-color: var(--base-grey);
}

.slider-contanier{
  width: 1160px;
  margin: 0 auto;
}

.slider{
  list-style: none;
}

.slider-item h3{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p{
  color: var(--paragraf-text);

}

/* услуги */

.service{
  width: 1160px;
  margin: 0 auto;
}

.service ul{
  list-style: none;
}

.service h3{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--base-black);
}

.service p{
  color: var(--paragraf-text);
}

/* О нас */

.us{
  width: 1160px;
  margin: 0 auto;
}

.us-text{
  color: var(--paragraf-text);
}
.us ul{
  list-style: none;
}

.us-titel{
  color: var(--base-black);
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.us-orders{
  color: var(--paragraf-text);
}

.us-procent{
  color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-weight: 700;
}

.us-procent-table dt{
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;

}

.us-procent-table dd{
  color: var(--paragraf-text);
  line-height: 18px;

}

/* наши партнеры */
.partners{
  width: 1160px;
  margin: 0 auto;
}

.partners img{
  opacity: 0.2;
}

.partners img:hover{
  opacity: 1;
}

.partners img:active{
  opacity: 0.1;
}
